application/config/app-config.php
application/config/config.php
uploads/
.htaccess
index.php
node-server/node_modules
node-server/package-lock
whatsapp-server/package-lock
whatsapp-server/node_modules
whatsapp-server/.wwebjs_auth
whatsapp-server/.wwebjs_cache
whatsapp-server/whatsapp-session
.env*
assets/builds/


node_modules
node_modules
